<h2>Signup with Academic Eval</h2>
        <form id="SignupForm">
            <input type="text" id="username" placeholder="Username" required>
            <input type="text" id="email" placeholder="email" required>
            <input type="password" id="password" placeholder="Password" required>
            <input type="number" id="phnumber" placeholder="Phone number" required>
            <input type="number" id="studentId" placeholder="student Id" required>
            <input type="text" id="department" placeholder="department" required>
            <input type="number" id="semester" placeholder="current semester" required>
            <input type="number" id="cgpa" placeholder="CGPA" step="0.01" required>
            <input type="number" id="gpa" placeholder="GPA" step="0.01" required>
           <!-- <div id="subjectInputs">
                <h4>Enter Subjects for this Semester</h4>
                <input type="text" class="subject-name" placeholder="Subject Name">
            </div>
              <button type="button" onclick="addSubject()">+ Add another subject</button>
            -->
         
   

            <button type="submit">Signup</button>
        </form>